attrs
certifi
charset-normalizer
contourpy
cycler
exceptiongroup
fonttools
h11
idna
kiwisolver
matplotlib
numpy
outcome
packaging
pandas
pillow
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
requests
scipy
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
wsproto
